<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package accountId="Dapper" version="1.50.1" targetFramework="net452" />
  <package accountId="Dapper.SimpleCRUD" version="1.11.1" targetFramework="net452" />
  <package accountId="MySql.Data" version="6.9.9" targetFramework="net452" />
</packages>